body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
  Typography 
 ================= */

h1 {
  font-weight: 400;
}

.beta-text { 
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
}

/* =================
  Flex containers
 ================= */
.intro, 
.main-content {
  display: flex;
  flex-direction: column;
}

/* =================
  Intro
 ================= */

/* 
Challenge: Style the .intro section
  - Convert into a flex container; 
    display its content in a column
  - Set a minimum height of 250px
  - Center-align its content
  - Vertically center the content
  - Remove the space around the edges of the page
*/

.intro { 
  color: #fff;
  background-color: #9480e4;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

/* ====================
  Main content
 ==================== */
.main-content {
  align-items: center;
  padding: 2.5em 2em 0;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}
/* =================
  Form
 ================= */
 

/* =================
  Media queries 
 ================= */