body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
  Typography 
 ================= */

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-shadow: 0 2px 2px #816fca;
}

h2 {
  font-size: 2.25rem;
  margin: .167em 0;
}

.beta-text { 
  font-weight: 900;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.subheading {
  color: #575757;
  font-weight: 900;
  bottom-margin: 0.5em;
}

.beta-text, 
.subheading {
  text-transform: uppercase;
}

.fine-print {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #858585;
}

/* =================
  Flex containers
 ================= */
.intro, 
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
}

/* =================
  Intro
 ================= */
.intro { 
  color: #fff;
  background-color: #9480e4;
  text-align: center;
  min-height: 250px;
  position: relative;
}

.intro::before {
  content: "";
  background: #9480e4 url("../img/bg-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

/* ====================
  Main content
 ==================== */
.main-content {
  align-items: center;
  padding-top: 2.5em;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}
/* =================
  Form
 ================= */
 form {
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 input,
 button {
  font-family: inherit;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: 2px solid #d1d5db;
  border-radius: 5px;
 }

 input:focus {
  outline: none;
  border-color: #8a71ec;
  background-color: #e6e8ec;
 }

 .btn {
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
 }

 .btn-primary {
  color: white;
  background-color:#8a71ec;
  margin-top: 1em;
 }

 .btn-primary:hover,
 .btn-primary:focus {
  background-color: #b7a7f6;
 }

/* =================
  Media queries 
 ================= */
 @media (min-width: 576px) {
  .container {
    display: flex;
    min-height: 100vh;
  }

  .intro, 
  .main-content {
    width: 50%;
  }

  .main-content {
    padding-top: 0;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.625rem;
  }

  .beta-text {
    font-size: 1.25rem;
  }
 }